* { 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


nav { 
    display: flex;
    justify-content: space-around;
    background-color: #5765a7;
    padding: 5px 300px;

    h2 { 
        color: white;
    }

    form { 
        display: flex;
        
        .formbox {
            border-radius: 5px;
            width: 130px;
            height: 28px;
            padding-right: 7px;
        }

        input [type=submit] { 
	        border : none;
            color : transparent;
        }

        input[type=image] { 
            padding-left: 7px;
        }

    }

    .menu { 
        ul {
            list-style: none;
        }
    
        li {
            float: left;
            padding: 0px 20px;
            line-height: 40px;
            cursor: pointer;
        }
    
        .menu-top {
            height: 40px;
        }
    
        .menu-content {
            position: absolute;
            width: 150px;
            height: 120px;
            display: none;
            color: white;

            p { 
                color: white;
                text-align: center;
            }
        }    
    }
}

.container {
    display: flex;
    padding-top: 100px;
    justify-content: center;

    table {
        width: 50%;
        margin-bottom: .3em;
        table-layout: fixed;
    }

    td, th {
        padding: .8em;
        margin: 0;
        border: 1px solid #ccc;
        text-align: center;
    }

    th {
        font-weight: bold;
        background-color: #EEE;
    }

}
